<div class="row m-2">
    <div class="card border-dark col-md-12">
        <div class="row m-1">
            <div class="col-md-2">
                <p>7/12/2018</p>
            </div>
            <div class="col-md-2">
                <p>Jour n°67</p>
            </div>
            <div class="col-md-2">
                <p>2:41 PM</p>
            </div>
            <div class="col-md-2">
                <p>3 nouveaux mails</p>
            </div>
            <div class="col-md-2">
                <p>SLEVIN</p>
            </div>
            <div class="col-md-2">
                <div class="switch">
                    <label>Jour<input type="checkbox" id="jour"><span class="lever"></span>Nuit</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="card border-dark col-md-6">
        <div class="row">
            <div class="col-md-8">
                <p>Personne n° {{{personne.id}}}</p>
                <p>Nom : {{{personne.nom}}}</p>
                <p>Prenom : {{{personne.prenom}}}</p>
            </div>
            <div class="col-md-4">
                <i id="bl" style="visibility: visible; font-size: 100px; color: red" class="plop fas fa-heartbeat">
                    87</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding: 0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.1412955750284!2d14.989629315116412!3d-21.42065399191536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDI1JzE0LjQiUyAxNMKwNTknMzAuNSJF!5e1!3m2!1sfr!2sfr!4v1544162614866" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <p id="temppers"></p>
                        <p id="vitesseventpers"></p>
                        <p id="hygropers"></p>
                    </div>
                    <div class="col-md-6">
                        <p id="meteopers"></p>
                        <img id="img_meteo_pers"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-dark col-md-6">
        <div class="row">
            <div class="col-md-4">
                <p>Base : {{{base.id}}}</p>
                <p>Pression Intérieur : {{{base.pression}}}hPa</p>
                <p>Température Intérieure : {{{base.temperature}}}°C</p>
            </div>
            <div class="col-md-4">
                <p>Nom : {{{base.nom}}}</p>
                <p>Hygrométrie Intérieure : {{{base.hygrometrie}}}%</p>
            </div>
            <div class="col-md-4">
                <i style="font-size: 70px; color: green" class="far fa-check-circle"></i>
                <p>Pas d'alertes sur la base</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding: 0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.492571328018!2d15.707228015122514!3d-21.729495002383825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDQzJzQ2LjIiUyAxNcKwNDInMzMuOSJF!5e1!3m2!1sfr!2sfr!4v1544137272459"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6">
                        <p id="tempbase"></p>
                        <p id="vitessevent"></p>
                        <p id="hygro"></p>
                    </div>
                    <div class="col-md-6">
                        <p id="meteo"></p>
                        <img id="img_meteo"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-2">
    <div class="card border-dark col-md-4">
        <div class="row">
            <div class="col-md-6">
                <p>Véhicule : {{{vehicule.id}}}</p>
                <p>Nom : {{{vehicule.nom}}}</p>
                <p>Poids : {{{vehicule.poids}}}T</p>
                <p>Puissance : {{{vehicule.puissance}}}CV</p>
                <p>Capacité : {{{vehicule.charge_max}}}</p>
            </div>
            <div class="col-md-6">
                <p>Chargement du frêt</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 29%" aria-valuenow="29" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <p>Batterie du véhicule</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 87%" aria-valuenow="{{{vehicule.capacite_accu}}}" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding: 0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3864.1412955750284!2d14.989629315116412!3d-21.42065399191536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDI1JzE0LjQiUyAxNMKwNTknMzAuNSJF!5e1!3m2!1sfr!2sfr!4v1544162614866" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6" style="padding-right: 0">
                        <p id="temppers1"></p>
                        <p id="vitesseventpers1"></p>
                        <p id="hygropers1"></p>
                    </div>
                    <div class="col-md-6">
                        <p id="meteopers1"></p>
                        <img id="img_meteo_pers1"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-dark col-md-4">
        <div class="row">
            <div class="col-md-6">
                <p>Véhicule : 2</p>
                <p>Nom : YETU</p>
                <p>Poids : 1.7T</p>
                <p>Puissance : 67CV</p>
                <p>Capacité : 1.1T</p>
            </div>
            <div class="col-md-6">
                <p>Chargement du frêt</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <p>Batterie du véhicule</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding: 0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.492571328018!2d15.707228015122514!3d-21.729495002383825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDQzJzQ2LjIiUyAxNcKwNDInMzMuOSJF!5e1!3m2!1sfr!2sfr!4v1544137272459"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6" style="padding-right: 0">
                        <p id="tempbase1"></p>
                        <p id="vitessevent1"></p>
                        <p id="hygro1"></p>
                    </div>
                    <div class="col-md-6">
                        <p id="meteo1"></p>
                        <img id="img_meteo1"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card border-dark col-md-4">
        <div class="row">
            <div class="col-md-6">
                <p>Véhicule : 3</p>
                <p>Nom : PGZT</p>
                <p>Poids : 0.5T</p>
                <p>Puissance : 38CV</p>
                <p>Capacité : 0.1T</p>
            </div>
            <div class="col-md-6">
                <p>Chargement du frêt</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                <p>Batterie du véhicule</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 12%" aria-valuenow="12" aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7" style="padding: 0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.492571328018!2d15.707228015122514!3d-21.729495002383825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDQzJzQ2LjIiUyAxNcKwNDInMzMuOSJF!5e1!3m2!1sfr!2sfr!4v1544137272459"
                        width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6" style="padding-right: 0">
                        <p id="tempbase2"></p>
                        <p id="vitessevent2"></p>
                        <p id="hygro2"></p>
                    </div>
                    <div class="col-md-6">
                        <p id="meteo2"></p>
                        <img id="img_meteo2"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
